<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pac_desarrollo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".activity3.MusicPlayerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activity3.CreateServiceActivity" />
        <activity android:name=".activity2.crud.EditItemActivity" />
        <activity android:name=".activity2.crud.ListItemsActivity" />
        <activity android:name=".activity2.crud.InsertItemActivity" />
        <activity android:name=".activity2.crud.CreateTableActivity" />
        <activity android:name=".activity3.Activity3" />
        <activity android:name=".activity2.Activity2" />
        <activity android:name=".Activity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>